In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.DataFrame([
    {'theta':  20, 'I, cps': 805e3, 'dI, cps': 2e4, 'tc, ms': 3.570, 'dtc, s': 1.118},
    {'theta':  30, 'I, cps': 585e3, 'dI, cps': 2e4, 'tc, ms': 2.056, 'dtc, s': 0.572},
    {'theta':  40, 'I, cps': 478e3, 'dI, cps': 5e3, 'tc, ms': 1.189, 'dtc, s': 0.805},
    {'theta':  50, 'I, cps': 410e3, 'dI, cps': 6e3, 'tc, ms': 0.619, 'dtc, s': 0.158},
    {'theta':  60, 'I, cps': 342e3, 'dI, cps': 6e3, 'tc, ms': 0.483, 'dtc, s': 0.132},
    {'theta':  70, 'I, cps': 345e3, 'dI, cps': 6e3, 'tc, ms': 0.356, 'dtc, s': 0.109},
    {'theta':  80, 'I, cps': 333e3, 'dI, cps': 4e3, 'tc, ms': 0.288, 'dtc, s': 0.160},
    {'theta':  90, 'I, cps': 323e3, 'dI, cps': 9e3, 'tc, ms': 0.228, 'dtc, s': 0.063},
    {'theta': 100, 'I, cps': 323e3, 'dI, cps': 9e3, 'tc, ms': 0.205, 'dtc, s': 0.070},
    {'theta': 120, 'I, cps': 368e3, 'dI, cps': 3e3, 'tc, ms': 0.167, 'dtc, s': 0.069},
    {'theta': 130, 'I, cps': 387e3, 'dI, cps': 5e3, 'tc, ms': 0.143, 'dtc, s': 0.075},
    {'theta': 140, 'I, cps': 462e3, 'dI, cps': 1e4, 'tc, ms': 0.121, 'dtc, s': 0.048},
])
data['sample'] = 'gold'
data2 = pd.DataFrame([
    [ 20, 2.8e6, 150e3, 21.52, 4.951],
    [ 30, 2.3e6, 100e3, 9.215, 2.626],
    [ 40, 205e4, 100e3, 5.027, 1.664],
    [ 50, 172e4, 3.0e4, 3.997, 0.574],
    [ 60, 1.5e6, 3.0e4, 2.998, 1.026],
    [ 70, 127e4, 2.0e4, 2.190, 0.478],
    [ 80, 113e4, 2.0e4, 1.698, 0.358],
    [ 90, 105e4, 1.5e4, 1.348, 0.269],
    [100, 940e3, 1.0e4, 1.003, 0.299],
    [110, 940e3, 2.0e4, 0.991, 0.236],
    [120, 880e3, 1.0e4, 0.780, 0.067],
    [130, 935e3, 1.5e4, 0.652, 0.069],
    [140, 103e4, 1.5e4, 0.554, 0.047]
], columns = ('theta', 'I, cps', 'dI, cps', 'tc, ms', 'dtc, s'))
data2['sample'] = 'sulfur'
data = pd.concat((data, data2))
del data2
data.head()

   theta    I, cps  dI, cps  tc, ms  dtc, s sample
0     20  805000.0  20000.0   3.570   1.118   gold
1     30  585000.0  20000.0   2.056   0.572   gold
2     40  478000.0   5000.0   1.189   0.805   gold
3     50  410000.0   6000.0   0.619   0.158   gold
4     60  342000.0   6000.0   0.483   0.132   gold